@page
<h1>About</h1>
<p>
    THIS IS DEMO WEB APP.
</p>
<p>
    In this pandemic problem. 
    This app helps the government to count the population of our country.
    There is no need to go from house to house to count how many people are in your family.
    This is virtual Population Counter Web App.
</p>
<p>
    METHOD TO USE:
</p>
<p>
    You just open the app and verify and submit the identity proof (like adhar card, pan card, voter id etc.) of yourself and your family member. working opportunity in this field handling and manage of government and user database.
</p>
<p>
    @DateTime.Now
</p>
